<div class="container">

<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading"><strong>Name:</strong> <%= @book.name %>
  
  </div>
  <div class="panel-body"><strong>Body:</strong> <%= @book.body %>
  </div>
</div>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>

</div>